@{
    var loggedInName = (string)ViewData["LoggedInName"];
}

@if (loggedInName != null)
{
    <p>
        Welcome @loggedInName | <a href="/User/Logout">Logout</a>
    </p>
}
else
{
    <p>
        <a href="/User/">Login</a> | <a href="/User/Register">Register</a>
    </p>
}