
@using ShopApp.Models;

@{
    Layout = "_SeafreshLayout";

    var products = (List<Product>)ViewData["Products"];
}


<h3 id="specials">Weekly Specials</h3>



<!-- Swiper -->


<div class="swiper-box">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="swiper-container">
        <div class="swiper-wrapper">

            @foreach (var p in products){


                <div class="swiper-slide">
                    <form action="" method="get" class="shop-item ">

                        <span class="special-tag">Special</span>

                        <img class="shop-item-image" src="images/Snapper-Medium-Whole.jpg" alt="" />

                        <h3>@p.Title</h3>

                        <p class="shop-item-product-description">
                            @p.Description
                        </p>


                        <div class="shop-item-quantity">
                            <button class="minus-btn" type="button" name="button">
                                <i class="far fa-minus-square"></i>
                            </button>
                            <input class="quantity-input" type="number" name="quantitiy-btn" min="1">
                            <button class="plus-btn" type="button" name="button">
                                <i class="far fa-plus-square"></i>
                            </button>
                        </div>

                        <p>Price: $<span class="shop-item-price">@p.Price</span></p>

                        <div class="add-cart-btn flex-center-style">
                            <input type="submit" value="ADD TO CART">
                        </div>
                    </form>
                </div>

                }



            </div>
        </div>
    </div>


<div class="img-email">

    <div class="midbox">
        <h3>Join Our Community</h3>
        <p>Get updates on specials, reciepes and much more!</p>
        <div class="email-box">
            <i class="fas fa-envelope"></i>
            <input class="tbox" type="email" name="" value="" placeholder="Enter your email">
            <button class="btn" type="button" name="button">Subscribe</button>
        </div>
    </div>

</div>

<div class="store-section">

    <div class="store">
        <img src="/images/SeafreshClaremont.jpg" alt="">
        <div class="store-details">
            <h5 class="store-head">SEAFRESH CLAREMONT</h5>
            <p class="adress">
                26 Saint Quentins Avenue <br>
                Claremont, Western Australia
            </p>
            <p class="phone">(08) 9383 2031</p>

        </div>
    </div>


    <div class="store">
        <img src="/images/SeafreshInnaloo.jpg" alt="">
        <div class="store-details">
            <h5 class="store-head">SEAFRESH INNALOO </h5>
            <p class="adress">
                388 Scarborough Beach Rd <br>
                Perth, Western Australia
            </p>
            <p class="phone">(08) 9445 2451</p>
        </div>
    </div>


    <div class="store">
        <img src="/images/SeafreshMyaree.jpg" alt="">
        <div class="store-details">
            <h5 class="store-head">SEAFRESH MYAREE</h5>
            <p class="adress">
                488 Marmion Streets <br>
                Myaree, Western Australia
            </p>
            <p class="phone">(08) 9330 3494</p>
        </div>
    </div>

</div>