@using ShopApp.Models

@{

}

    <section class="file-section">
        <form action="/File/Index" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Upload File" />
        </form>
    </section>